certifi==2022.12.7
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11
django-filter==1.0.4
django-material==1.0.0
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
Markdown==2.6.8
psycopg2==2.7.1
pytz==2017.2
requests==2.18.1
urllib3==1.21.1
whitenoise==3.3.0
certifi==2022.12.7
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11
django-decouple==2.1
django-filter==1.0.4
django-material==1.0.0
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
Markdown==2.6.8
psycopg2==2.7.1
pytz==2017.2
requests==2.18.1
urllib3==1.21.1
whitenoise==3.3.0
cairocffi==0.8.0
CairoSVG==2.0.3
certifi==2022.12.7
cffi==1.10.0
chardet==3.0.4
cssselect==1.0.1
cssselect2==0.2.0
dj-database-url==0.4.2
Django==1.11
django-decouple==2.1
django-filter==1.0.4
django-material==1.0.0
djangorestframework==3.6.3
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.10.3
idna==2.5
lxml==3.8.0
Markdown==2.6.8
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.1
pycparser==2.18
PyPDF2==1.26.0
Pyphen==0.9.4
pytz==2017.2
reportlab==3.4.0
requests==2.18.1
six==1.10.0
tinycss==0.4
tinycss2==0.6.0
urllib3==1.21.1
WeasyPrint==0.40
webencodings==0.5.1
whitenoise==3.3.0
xhtml2pdf==0.2b1
