<!doctype html>
<html lang=en>
<head>
	<!--<meta charset="utf-8">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="">
	<style>
		/*@page { margin: 1em; }*/
      	/*@page { size: US-Letter landscape; }*/
		h1{text-align: center;}
		table{width: 100%;border-collapse: collapse;}
		body{font-size: 9pt;text-align:center;}
		td, th {border: 1px solid black;}
	</style>
</head>
<body>
	<img src="logo.jpg" alt="">
	<div class="cabecalho">
		<h1>IFPI - Instituto Federal do Piaui</h1>
		<h2>Controle de chaves e de Entregas dos Data Show</h2>
	</div>
	<br><br><br>
	<table>
		<thead>
			<tr>
				<th>Nome Completo</th>
				<th>Nº da chave</th>
				<th>Nº do patrimônio</th>
				<th>Matricula: <br>Bolsista/Monitor</th>
				<th>Date de Solicitacao</th>
				<th>Date de Entrega</th>
			</tr>
		</thead>
		<tbody>
			{% for i in data %}
			<tr>
				<td>{{ i.professor }}</td>
				<td>{{ i.laboratorio.name }}</td>
				<td>{{ i.data_show }}</td>
				<td>{{ i.user }}</td>
				<td>{{i.data_de_entrada}}</td>
				{% if i.devolucao.status %}
				<td>{{i.devolucao.dt_horario_devolucao}}</td>
				{% else %}
				<td>Não devolvido</td>
				{% endif %}

			</tr>
			{% endfor %}
		</tbody>
	</table>

</body>
</html>